<ion-view>
	<div style="background-color:black; width:100%; height:100%;">
	<div id="idle-container" style="background-image:url('{{css.logourl}}'");>
	<div  class="bar header" id="black-header" style="background-color:black; border-style:none;">
		<div class="button button-clear" id="header-left">Powered by: Remember</div>
			<h1 class="title"></h1>
		<div class="button button-clear" id="header-right">Branch number:{{userData.branchid}}  Branch name:{{userData.branchName}}</div>
	</div>
	<div id="title-remember">
			<h1>DOTA 2</h1>
	</div>
	<div  class="bar bar-footer" id="black-footer" style="background-color:black; border-style:none;">
		<button id="tap-text-idle" ng-click="" class="button button-clear">Tap your weapon</button>
			<h1 class="title"></h1>
		<button id="register-idle-button" class="button round-button" ng-click="registerUser()">Register</button>
	</div>
	</div>
	</div>
</ion-view>