<ion-content class="padding main-body main-page">

<div class="left-side">
	<div id="top-left-box">
		<div id="main-page-title">
			{{main_data.storename}}
		</div>
		<div id="main-page-date">
			Tuesday, Aug 23 - 2016
		</div>
		<div id="main-page-box-profile">
			<div id="main-page-greeting">
			Hallo,
			</div>
			<div id="main-page-name">
				{{main_data.first_name}}
			</div>
			<div id="main-page-point">
				{{main_data.total_poin}}pts
			</div>
			<div id="main-page-progressbar">
				Commander
			</div>
			<div id="main-page-last-seen">
				{{main_data.last_seen}}	
			</div>
		</div>
		<div id="main-page-socmed-box">

		</div>
	</div>
	<div id="main-page-activity">
		<div id="main-page-activity-title">
				Get Points
		</div>
		<div id="main-page-activity-container">
				<div id="fb" class="activity-content">
						 <ion-avatar>
      						<img src="img/twitter.png" class="activity-icon" ng-click="showClaim()">
    					</ion-avatar>
						<div class="activity-title">
						Reedem
						</div>
				</div>
				<div id="twitter" class="activity-content">
						 <ion-avatar>
      						<img src="img/twitter.png" class="activity-icon" ng-click="showReedem()">
    					</ion-avatar>
						<div class="activity-title">
						Request
						</div>
				</div>
				<div id="activity-butoon" class="activity-content">
						 <ion-avatar>
      						<img src="img/twitter.png" class="activity-icon" ng-click="showActivity()">
    					</ion-avatar>
						<div class="activity-title">
						Activity
						</div>
				</div>
		</div>
	</div>
</div> <!-- End of left side -->

<div class="right-side">
	<div id="main-page-adv-box">
		<div id="idle-container" style="background-image:url('{{css.logourl}}'); background-size: 300px auto; background-position: center;">
	</div>
	<div id="main-page-data-user">
		<div id="main-page-user-data-title">
			VISIT
		</div>
		<div class="progress-container-all">
		<div class="progress-bar">
		 <div class="progress-data">{{visits.weekly}}<br>weekly</div>
		<round-progress
		    max="100"
		    current=getWeekly()
		    color="rgb(226,74,48)"
		    bgcolor="#eaeaea"
		    radius="60"
		    stroke="20"
		    duration="800"
		    animation="easeInOutQuart"
		    animation-delay="0" id="progress-weekly"></round-progress>
		</div>
		<div class="progress-bar">
		 <div class="progress-data">{{visits.monthly}}<br>monthly</div>
		<round-progress
		    max="100"
		    current=getMonthly()
		    color="rgb(55,121,219)"
		    bgcolor="#eaeaea"
		    radius="60"
		    stroke="20"
		    clockwise="false"
		    responsive="false"
		    duration="800"
		    animation="easeInOutQuart"
		    animation-delay="0" class="progress-bar" id="progress-mothly"></round-progress>
		</div>
		<div class="progress-bar">
		 <div class="progress-data">{{visits.total}}<br>&nbsp;&nbsp;&nbsp;total&nbsp;&nbsp;&nbsp;</div>
		<round-progress
		    max="100"
		    current=getTotal()
		    color="#45ccce"
		    bgcolor="#eaeaea"
		    radius="60"
		    stroke="20"
		    clockwise="false"
		    responsive="false"
		    duration="800"
		    animation="easeInOutQuart"
		    animation-delay="0" class="progress-bar" id="progress-total"></round-progress>
		</div>
	</div>
	</div>
</div>
<button id="logout-button" on-tap="doLogout()" class="button">Logout</button>
<button id="share-button" on-tap="doShareFb()" class="button">Share</button>
</ion-content>