<ion-view>
<ion-content style="background-color:black">
  <div class="content-all" >
  <div class="title-remember">
    Fill your data, Soldier.
  </div>
  <div class="list register-panel">
    <label id="first-top" class="item item-input item-floating-label register-form">
      <input type="text" placeholder="Full Name" ng-model='formDatas.first_name'>
    </label>
    <label class="item item-input register-form">
      <input type="number" class="white-form" placeholder="Phone" ng-model='formDatas.phone_number'>
    </label>
    <label class="item item-input register-form">
      <input type="email" placeholder="Email" ng-model='formDatas.email'>
    </label>
    <label class="item item-input register-form">
      <input type="date"  placeholder="Birthdate" ng-model='formDatas.date'>
    </label>
    <label class="item item-input item-select register-form">
      <div class="input-label">
            Gender  
        </div>
       <select class="select-select-branch" ng-model='formDatas.gender_id'>
            <option>Male</option>
            <option selected>Female</option>
        </select>
    </label>
    <label class="item item-input item-floating-label register-form">
      <input type="text" placeholder="City" ng-model="formDatas.city" readonly>
    </label>
    <div>
      <button id="submit-button-register" class="button" ng-click="submitForm()"> Submit</button>
    </div>
  </div>
  </div>
</ion-content>
 
  <div  class="bar bar-footer" id="black-footer" style="background-color:black">
      <button id="right-button" class="button button-clear" >
      </button>
      <h1 class="title"></h1>
     	<button id="register-idle-button" class="button round-button" on-tap="back()" ng-click="back()">
	  		Back
	  	</button>
  </div>
</ion-view>