<ion-view>
<ion-content class="padding" style="background-color:black">
  	<div class="title-remember">
  		For activating.<br><br>
  		Tap your weapon.
  	</div>
</ion-content>
  	<div  class="bar bar-footer" id="black-footer" style="background-color:black">
	  	
	  	<h1 class="title"></h1>
	  	<button id="register-idle-button" class="button round-button" on-tap="backToRegister()" ng-click="backToRegister()">
	  		Back
	  	</button>
	</div>
</ion-view>