
<ion-content class="padding main-body">
	<div class="content-all">
		<div class= "center main-title">
			<img class="title-logo" src= "img/logo.png">
		</div>
		<div class = "login-container item">
			<div class = "list">
				<div class="list form-select-branch">

				  <label class="item item-input item-select">
				    <div class="input-label">
				      Select Branch
				    </div>
				    <select class="select-select-branch" ng-model="branches.selected">
				      <option ng-repeat="item in items" value="{{item.id}}" name="{{item.name}}">{{item.name}}</option>
				    </select>
				  </label>

				</div>
				<button class="button button-positive" id="select-branch-button-submit" ng-click="selectBranch()">
					Submit
				</button>
			</div>
		</div>
	</div>
</ion-content>
