
<ion-content class="padding main-body">
<div class="content-all">
	<div class= "center main-title">
		<img class="title-logo" src= "img/logo.png">
	</div>
	
	<div class= "login-container">
		<form name="userForm" class="list">
		  <label class="item item-input clear-bg-color login-form firt-login-form">
		    <span class="input-label ">Username&nbsp: </span>
		    <input type="text" ng-model="input.username">
		  </label>
		  <label class="item item-input clear-bg-color login-form">
		    <span class="input-label">Password&nbsp&nbsp: </span>
		    <input type="password" class="white-text" ng-model="input.password">
		  </label>
			<button class="button" class="button-gray" id="button-submit" on-click="login()" on-tap="login()">
				Submit
			</button>
			</form>
	</div>
</div>
</ion-content>
