
.pane{
	color:white;
	background-color:white;
}

h1{
	color: white;
}
.content-all{
	height: 100%;
}
.title-remember{
	margin:auto;
	color: white;
	display: table;
	margin-top:8%;
	font-size:30px;
	text-align: center;
}

.inline-form{
	display: block;
}

.clear-bg-color{
	background-color:transparent;
	border-style: none;
}

.white-font{
	color:white;
}


.login-container {
	display: table;
	margin-top: 5%;
	width: 60%;
	padding: 3% 3% 3% 1%;
	margin-left: 20%;
	margin-right: 20%;
	background-image: url("../img/field.png");
	background-size: 100% 100%;
}

.form-select-branch{
	margin:auto;
	width: 90%;
}
.select-select-branch{
	margin:auto;
	width: 100%;
}
#button-submit{
	margin-top: 2%;
	float: right;
	background: url('../img/btn_login.png');
	background-size: 100% 100%;
	width: 200px;
	color: gray;
}

#select-branch-button-submit{
	
	display: table;
	margin:auto;
	margin-top: 5%;
	background: url('../img/btn_login.png');
	background-size: 100% 100%;
	width: 200px;
	color: gray;
}

.register-idle-footer{
	background-color: white;
	border: 1px solid white;
	color: white;
	width: 260px;
	height: 60px;

	border-radius: 25px;
}
.round-button{
	background-color: black;
	border: 1px solid white;
	color: white;
	width: 260px;
	height: 60px;

	border-radius: 25px;
}

#register-idle-button{
	font-size: 24px;
	margin-right: 30px;
}

.center{
	display: table;
	margin: auto;
}
.register-form{
	width: 80%;
	background-color:white;
	margin: auto;
	margin-top: 100px;
	display:table;
	color:white;

}
#right-button-small{
	float:right;
	width: 200px;
	background-color:rgba(255,255,255,0.1);
	color: white;
	margin-right: 30px;
}
.main-title{
	margin-top:10%;
	height: 30%;
	width: 30%;
}

#tap-text-idle{
	color: white;
	font-size: 24px;
	margin-left:30px;
}
#right-button{
	color: black;
	 width: 300px;
    height: 80px;
    margin-right: 30px;
    font-size: 25px;
}
#black-header{
	color: black;
	
}
#header-left{
	color:white;
}
#idle-container{
	background:url('../img/logospace.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
}
#header-right{
	color:white;
}
#button-top-header{
	color: black;
}

.title-logo{
	margin: auto;
	display: table;
	height: 100%;
}

#black-footer{
	height: 15%;
	background-color: white;
	background-image: none;	
}
#submit-button-register{
	color: white;
	margin: auto;
	margin-bottom:20px;
	margin-top:20px;
	display: table;
	width: 150px; 
	background: url('../img/btn_submit.png');
	background-size: 100% 100%; 
}
input[type='text'],input[type='password']{
	background-color:white;
	padding-left: 20px;
	border-radius: 20px;
}

.register-panel{
	border-radius: 15px;
	margin: auto;
	margin-top:20px;
	width: 400px; 
	background-image:url('../img/register_field.png');
	background-size: 100% 100%;
}

.register-form{
	border-radius: 7px;
	margin:auto;
	margin-top:10px;
	height:25px;
	border-style:none;
}
#first-top{
	margin-top:30px;
}

.main-page{
	background-image: url('../img/bg_main.png');
	background-size: 100% 100%;
	display: inline;
}
#main-page-activity{
	background-image: url('../img/field_point.png');
	background-size: 100% 100%;
	margin-top: 30px;
	padding: 5%;
}
#main-page-activity-title{
	font-size: 30px;
	text-align: center;
}
#main-page-activity-container{
	margin: 2%;
	margin-top: 5%;
	display: inline-flex;
}
.activity-title
{
	text-align: center;
	font-size: 12px;
}
.activity-content
{
	width:80px;
	margin: 1%;
}
.activity-icon{
	width: 100%;
}

/**
 * RIGHT SIDE
 */
.right-side{
	float: right;
	margin-top:3%;
	margin-right: 5%;
	margin-left:  1%;
	width:50%;
}

#main-page-adv-box{
	background-image: url('../img/field_promo.png');
	background-size: 100% 100%;
	padding: 1%;
	height: 250px;
}
#main-page-adv-content{

}

#main-page-visit-box{

}
#main-page-data-user{
	margin-top: 2%;
	padding-left: 5%;
	padding-top: 2%;
	height: 200px;
	background-image: url('../img/field_visit.png');
	background-size: 100% 100%;
}
#main-page-user-data-title{
	font-size: 25px;
	margin: auto;
	display: table;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 40%;
}
.progress-container-all{

}
.progress-bar{
	float:left;
	position: relative;
	margin-left: 3%;
	margin-right: 3%;
}
.progress-data{
	font-size: 18px;
	text-align: center;
	margin: auto;
	display: table;
	position: absolute;
	margin-left: 30px;
	margin-top:40px;
}

/**
* LEFT SIDE
*/
.left-side{
	float: left;
	margin-top:3%;
	margin-left: 10%; 
	width: 30%;
}

#main-page-title{
	font-size: 40px;
	margin-left: 5%;
}

#main-page-date{
	margin-top: 10%;
	margin-left: 5%;
	font-style: italic;
}

#main-page-box-profile{
	padding:5%;
	background:url('../img/field_user.png');
	background-size: 100% 100%;
}

#main-page-greeting{
	font-size:1em;
}
#main-page-name{
	font-size: 2em;
	margin-top: 5%;
}
#main-page-point{
	margin-top: 5%;
	font-size: 1em;
}
#main-page-progressbar{
	margin-top: 5%;
}
#main-page-last-seen{
	margin-top: 5%;
}

/** SOCMED BOX
*/
#main-page-socmed-box{
	background-image: url('../img/field_point.png');
	background-size: 100% 100%;
	margin-top: -4%;
}
#logout-button{
	background:url('../img/btn_logout.png');
	background-size: 100% 100%;
	position: absolute;
	color:white;
	right: 45px;
	bottom: 0;
	width: 300px
}

#share-button{
	background:url('../img/btn_redeem.png');
	background-size: 100% 100%;
	position: absolute;
	color:white;
	right: 350px;
	bottom: 0;
	width: 300px
}

